.header {
  padding: 24px 16px;
  width: 100%;
  border-bottom: 1px solid #0000001a;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.headerLinks {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  gap: 40px;
}

.headerLinks a{
  font-weight: 600;
}

@media screen and (max-width:768px) {
  .headerLinks{
    gap: 16px;
  }
}