.banner {
  padding: 80px 16px;
  width: 100%;
  margin-top: 72px;
}
.bannerMain {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.bannerMain > div {
  width: calc(50% - 10px);
}
.bannerRight img {
  max-height: 240px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.bannerLeft h1{
    font-size: 44px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bannerLeft p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.download{
    padding: 8px 16px;
    color: #fff;
    background-color: #FF6464;
    border: none;
    display: inline-block;
}

@media screen and (max-width:768px){
    .bannerMain > div{
        width: 100%;
    }
    .bannerMain{
        flex-wrap: wrap;
    }
    .bannerLeft{
        text-align: center;
        order: 2;
    }
    .bannerLeft h1{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    .bannerRight img{
        scale: 0.7;
    }

}